#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
}

.card {
  padding: 2em;
}

button {
  background-color: #614c8f;
  color: #f9f9f9;
}

.select {
  color: 090909 !important;
  padding: 2rem 0;
}

.description {
  padding: 2rem 0;
  white-space: pre-line;
}
